@import "components/index";
@import "pages/index";

.scale {
  animation: step-scale .75s ease-in-out infinite;
}

@keyframes step-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
